.row{
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 5vh;

}
.container{
    margin-top: 5vh;
    /* border: 1px solid pink; */
    
}
h5{
    text-align: center;
}
body{
    border: 3px solid black;
    border-radius: 20vh;
    background-image: url("../images/rpsci5.jpeg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-color: #aaaa;
    height: 100vh;

}
h3{
    text-align: center;
    margin-top: 5vh;
}
.player{
    /* border: 1px solid coral; */
    height: 20vh;
}
.computer{
    /* border: 1px solid coral; */
    height: 20vh;
}
.update{
    /* border: 1px solid coral; */
    margin-top: 5vh;
    margin-bottom: 5vh;
}
