.row{
    text-align: center;
    margin-top: 5vh;

}
.container{
    margin-top: 5vh;
    
}
h5{
    text-align: center;
    text-shadow:5px 5px 10px Turquoise;
}

h3{
    text-align: center;
    margin-top: 5vh;
    color: tomato;

}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: tomato;
}
body{
    border: 3px solid black;
    border-radius: 5vh;
    background-image: url("../images/rpsci8.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-color: #aaaa;
    height: 100vh;
}

.player{
    height: 20vh;
}
.computer{
    height: 20vh;
}
.round{
    margin-top: 10vh;
}
.updatePlayer{
    margin-top: 10vh;
}
.updateComputer{
}
.results{
    margin-top: 5vh;
}