.row{
    text-align: center;
    margin-top: 5vh;

}
.container{
    margin-top: 5vh;
    
}
h5{
    text-align: center;
}
body{
    border: 3px solid black;
    border-radius: 5vh;
    background-image: url("../images/rpsci7.jpeg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-color: #aaaa;
    height: 100vh;

}
h3{
    text-align: center;
    margin-top: 5vh;
}
.player{
    height: 20vh;
}
.computer{
    height: 20vh;
}
.round{
    margin-top: 10vh;
}
.updatePlayer{
    margin-top: 10vh;
    /* margin-bottom: 10vh; */
}
.updateComputer{
    /* margin-top: 10vh; */
}
